/* 
    Basic css file
    Created on : 10-Nov-2016, 4:08:30 PM
    Author     : xiaof
*/
.padding-20{padding:20px;}
.margin-10{margin:10px}
.center-box{margin:0 auto;}
.pointer{cursor: pointer;}
.active{background-color: red;}
.padding-10{padding: 10px;}